.nav-primary {
  @apply flex flex-col text-left pb-6;
  // & li:last-child {
  //   @apply pb-6;
  // }
  a {
    @apply text-black;
  }
  .active{
    a {
      @apply text-l-orange;
    }
    .sub-menu .menu-item a {
      @apply text-black;
      &:hover {
        @apply text-l-orange;
      }
    }
  }
  .menu-item {
    @apply p-0;
    a {
      @apply uppercase font-open font-semibold px-6 py-4 text-base tracking-widest block;
      &:hover {
        @apply text-l-orange;
      }
    }
  }

  .menu-item-has-children {
    @apply relative z-10 cursor-pointer;
    a {
      @apply w-1/2;
    }

  }
  .caret-down {
    &:before {
      @apply bg-l-blue fill-current stroke-current;
      position: absolute;
      content: '';
      mask: url('../images/cheveron-down.svg') no-repeat 50% 50%;
      height: 24px;
      width: 24px;
      padding: 15px;
      top: 12px;
      right: 24px;
      z-index:20;
    }
  }
  .caret-up {
    &:before {
      @apply bg-l-blue fill-current stroke-current;
      position: absolute;
      content: '';
      mask: url('../images/cheveron-up.svg') no-repeat 50% 50%;
      height: 24px;
      width: 24px;
      padding: 15px;
      top: 12px;
      right: 24px;
      z-index:20;
    }
  }

  .sub-menu {
    @apply hidden;
    .menu-item {
      @apply p-0;
    }
    a {
      @apply ml-4 text-sm py-3;
    }
  }
}

@screen md {
  .nav-primary {
    @apply py-6;
  }
}

@screen lg {
  .nav-primary {
    @apply flex flex-row items-center py-0;
    .sub-menu {
      @apply hidden;
    }
    .menu-item {
      @apply py-4;
    }
    .menu-item-has-children {
      @apply relative;
      a {
        @apply w-full;
      }
      &:hover {
        .sub-menu {
          @apply mt-4 block absolute bg-l-gray w-56 border-t border-gray-200 border-l-4;
          border-left-color: #f68e3c;
          a {
            @apply m-0 w-full;
            &:hover {
              @apply bg-l-orange text-white;
            }
          }
        }
      }
    }
    .menu-stories {
      @apply relative;
      &:hover {
        .sub-menu {
          @apply w-84 px-4 h-auto shadow bg-l-gray shadow-md left-0 border-l-4 grid grid-cols-3 py-3 pl-5;
          border-left-color: #f68e3c;
          li{
            a {
              @apply p-0 py-2 text-sm;
              &:hover {
                @apply bg-transparent text-l-orange;
              }
            }
          }
        }
      }
    }
    .menu-join-us a {
      @apply bg-l-blue text-white py-2 px-8 text-sm ml-4;
      &:hover {
        @apply bg-l-orange text-white;
      }
    }
    .caret-down, .caret-up {
      &:before {
        @apply hidden;
      }
    }
  }
}

